/* define primary colors */
.fondo1 {
  background-color: #e4c0c0;
}

/* Navbar links */
.navbar {
  background-color: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  min-width: 100px;
}

.nav-link {
  color: #8b4a97;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.nav-link:hover {
  background-color: #ddd;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.dropdown-item {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: #8b4a97;
}

.dropdown-item:hover {
  background-color: #ddd;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.logo-brand {
  min-width: 50px;
  max-width: 100px;
}

.navbar-toggler {
  font-size: 40px;
}

.navbar-toggler:focus {
  outline: none;
}

/* define primary fonts */
.fuentereiki {
  -webkit-text-decoration: "Montserrat", sans-serif;
          text-decoration: "Montserrat", sans-serif;
}

.fuentechakras1a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.fuentechakras1 {
  text-decoration: none;
  color: red;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras1bis {
  text-decoration: none;
  color: red;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras2a {
  text-decoration: none;
  color: orange;
  font-weight: bold;
}

.fuentechakras2 {
  text-decoration: none;
  color: orange;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras2bis {
  text-decoration: none;
  color: orange;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras3a {
  text-decoration: none;
  color: yellowgreen;
  font-weight: bold;
}

.fuentechakras3 {
  text-decoration: none;
  color: yellowgreen;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras3bis {
  text-decoration: none;
  color: yellowgreen;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras4a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.fuentechakras4 {
  text-decoration: none;
  color: green;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras4bis {
  text-decoration: none;
  color: green;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras5 {
  text-decoration: none;
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras5bis {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras5a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.fuentechakras6 {
  text-decoration: none;
  color: blueviolet;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras6bis {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras6a {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

.fuentechakras6 {
  text-decoration: none;
  color: blueviolet;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras7bis {
  text-decoration: none;
  color: violet;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras7a {
  text-decoration: none;
  color: violet;
  font-weight: bold;
}

.fuentechakras7 {
  text-decoration: none;
  color: violet;
  font-style: italic;
  font-weight: bold;
}

.fuentechakras8bis {
  text-decoration: none;
  color: #4e0c5a;
  font-weight: bold;
  size: 2.5 em;
}

.fuentechakras8a {
  text-decoration: none;
  color: #4e0c5a;
  font-weight: bold;
}

.fuentechakras8 {
  text-decoration: none;
  color: #4e0c5a;
  font-style: italic;
  font-weight: bold;
}

.footer-color {
  background: #8b4a97;
}

.font-p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h6 {
  color: white;
  text-decoration: none;
}

h6 a {
  color: white;
}

h6 a:hover {
  background-color: #ddd;
  color: #8b4a97;
  text-decoration: none;
}

.icons {
  color: white;
}

.icons:hover {
  opacity: 70%;
  text-decoration: none;
}

.footer-copyright {
  background-color: #4e0c5a;
  text-align: center;
  padding: 30px;
  color: white;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.parallax {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallaximg1 {
  background-image: url("/img/universo.jpg");
  min-height: 750px;
}

#parallaximg2 {
  background-image: url("/img/Energia.jpg");
  min-height: 400px;
}

#parallaximg3 {
  background-image: url("/img/Tarot.jpg");
  min-height: 400px;
}

#parallaximg4 {
  background-image: url("/img/CARTAS.jpg");
  min-height: 400px;
}

#parallaximg5 {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20%281%29.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #8b4a97;
}

.caption span.border {
  background-color: white;
  color: #777;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption span.intro {
  font-family: "Architects Daughter", cursive;
  color: white;
  font-weight: bold;
  padding: 18px;
  font-size: 35px;
}

.textintro {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}

.separador1 {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
}

.separador2 {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
}

.separador3 {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
}

/*COVER*/
#cover-texto {
  width: 100%;
  text-align: center;
}

.contenido-seccion {
  text-align: center;
  text-align: center;
}

.top-margin-sm {
  margin-top: 30px;
}

.top-margin-lg {
  margin-top: 60px;
}

.formatocarrusel {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.imagencard {
  -webkit-animation-name: animate__fadeInDown;
          animation-name: animate__fadeInDown;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.parrafo1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.ptarot {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.preiki {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.md-pills .nav-link.active {
  color: #fff;
  background-color: #616161;
}

button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .cardtarot {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardtarot {
  cursor: default;
  height: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  width: 95%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.cardtarot p {
  margin-bottom: 1.8em;
}

.cardtarot .front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  display: block;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #8b4a97;
}

.cardtarot .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #8b4a97;
}

.cardtarot .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.cardtarot .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardtarot .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.cardtarot .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .cardtarot.back {
  background-color: #8b4a97;
}

.cardBox:nth-child(2) .cardtarot .back {
  background-color: #8b4a97;
}

.cardBox:nth-child(3) .cardtarot .back {
  background-color: #8b4a97;
}

.cardBox:nth-child(4) .cardtarot .back {
  background-color: #8b4a97;
}

.cardBox:nth-child(2) .cardtarot {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .cardtarot {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .cardtarot {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .cardtarot {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .ccardtarot {
    height: 260px;
  }
}

.fondopricing {
  background-color: #4e0c5a;
}

.fondopricing2 {
  background-color: grey;
}

/* define primary titles */
html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background: white;
  font-family: "Architects Daughter", cursive, "Montserrat", sans-serif;
  min-height: 100%;
  text-decoration: none;
}

p, h1, ul, li {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "Architects Daughter", cursive, "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600px;
  line-height: 80px;
}

h2 {
  font-family: "Architects Daughter", cursive;
  font-size: 35px;
  font-weight: 600px;
  line-height: 60px;
  margin-left: 80px;
}

h3 {
  font-family: "Architects Daughter", cursive;
  font-size: 30px;
  font-weight: 600px;
  line-height: 60px;
}

.parrafo1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.ptarot {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.preiki {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.md-pills .nav-link.active {
  color: #fff;
  background-color: #616161;
}

button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .cardtarot {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardtarot {
  cursor: default;
  height: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  width: 95%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.cardtarot p {
  margin-bottom: 1.8em;
}

.cardtarot .front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  display: block;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #8b4a97;
}

.cardtarot .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #8b4a97;
}

.cardtarot .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.cardtarot .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardtarot .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.cardtarot .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .cardtarot.back {
  background-color: #8b4a97;
}

.cardBox:nth-child(2) .cardtarot .back {
  background-color: #8b4a97;
}

.cardBox:nth-child(3) .cardtarot .back {
  background-color: #8b4a97;
}

.cardBox:nth-child(4) .cardtarot .back {
  background-color: #8b4a97;
}

.cardBox:nth-child(2) .cardtarot {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .cardtarot {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .cardtarot {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .cardtarot {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .ccardtarot {
    height: 260px;
  }
}

.fondopricing {
  background-color: #4e0c5a;
}

.fondopricing2 {
  background-color: grey;
}

.Contactanos {
  max-width: 800px;
  margin: 50px 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-image: linear-gradient(125deg, #8b4a97, white);
}

.Contactanos .titulocontactanos {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: -webkit-gradient(linear, left top, right top, from(#f4524d), to(#5543ca));
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
}

.contact-form .label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 40px;
  cursor: text;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.form-control {
  font-size: 14px;
  padding: 15px;
  border-radius: 2px;
  height: auto;
}

.btn-primary {
  background-color: #8b4a97;
  border-color: beige;
}

/*REIKI*/
.push-spaces {
  padding: 30px;
}

.imagendefondo {
  background-image: url("/img/banner-contact-reiki.jpg");
  min-height: 600px;
  background-size: cover;
}

.imagendefondo2 {
  background-image: url("/img/viva-luna.jpg");
  min-height: 600px;
  background-size: cover;
}

/*FOTOS*/
.formatoanteojos {
  width: 400px;
  height: 500px;
  -webkit-animation: animate__fadeInDown;
          animation: animate__fadeInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  padding: 0px 30px;
}

.button__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
}

.button__image {
  display: block;
  margin: auto;
}

.button__up {
  margin: 10rem 0rem 10rem 0rem;
}

.button__margin {
  margin: auto;
}

#card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  width: 20vw;
  height: 60vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 411px) {
  .cardBox {
    width: 94.5%;
  }
  .ccardtarot {
    height: 260px;
  }
  .cardtarot .back {
    font-size: 0.8em;
    height: 100%;
    padding: 0.9em;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #8b4a97;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #8b4a97;
  }
  .caption span.border {
    color: #777;
    padding: 0px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  .cardBox {
    width: 94.5%;
  }
  .ccardtarot {
    height: 260px;
  }
  .cardtarot .back {
    font-size: 0.8em;
    height: 100%;
    padding: 0.9em;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #8b4a97;
  }
  .styleresponsive1 {
    width: 95%;
  }
}

@media (max-width: 575.98px) {
  .footer-menu {
    display: block;
  }
  .cardBox {
    width: 94.5%;
  }
  .ccardtarot {
    height: 260px;
  }
  .cardtarot .back {
    font-size: 0.8em;
    height: 100%;
    padding: 0.9em;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #8b4a97;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .footer-main {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    color: white;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 100vh;
  }
  .responsivebis {
    font-size: 2 rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }
  .responsivebis {
    font-size: 3rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.4rem;
  }
  .cardBox {
    width: 94.5%;
    margin-left: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ccardtarot {
    height: 260px;
  }
  .cardtarot .back {
    font-size: 4.5em;
    height: 100%;
    padding: 0.9em;
    width: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #8b4a97;
  }
  .responsiveipad {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    border-style: none;
    margin-right: 400px;
  }
  .styleresponsive2 {
    width: 200%;
  }
  .styleresponsive3 {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) {
  .parallaximg1, .parallaximg2, .parallaximg3, .parallaximg4 {
    background-attachment: scroll;
  }
  .responsivebis {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=estilos.css.map */