/* define primary colors */
/* define primary fonts */
/* Navbar links */
.navbar {
  background-color: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  min-width: 100px;
}

.nav-link {
  color: #8b4a97;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.nav-link:hover {
  background-color: #ddd;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.dropdown-item {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: #8b4a97;
}

.dropdown-item:hover {
  background-color: #ddd;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.logo-brand {
  min-width: 50px;
  max-width: 100px;
}

.navbar-toggler {
  font-size: 40px;
}

.navbar-toggler:focus {
  outline: none;
}

.footer-color {
  background: #8b4a97;
}

.font-p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h6 {
  color: white;
  text-decoration: none;
}

h6 a {
  color: white;
}

h6 a:hover {
  background-color: #ddd;
  color: #8b4a97;
  text-decoration: none;
}

.icons {
  color: white;
}

.icons:hover {
  opacity: 70%;
  text-decoration: none;
}

.footer-copyright {
  background-color: #4e0c5a;
  text-align: center;
  padding: 30px;
  color: white;
}

/*COVER*/
.cover {
  background-image: url("../img/universo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#cover-texto {
  width: 100%;
  text-align: center;
}

.contenido-seccion {
  text-align: center;
  text-align: center;
}

.top-margin-sm {
  margin-top: 30px;
}

.top-margin-lg {
  margin-top: 60px;
}

.formatocarrusel {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.imagencard {
  -webkit-animation-name: animate__fadeInDown;
          animation-name: animate__fadeInDown;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.parrafo1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

/* define primary titles */
html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background: white;
  font-family: "Architects Daughter", cursive, "Montserrat", sans-serif;
  min-height: 100%;
  text-decoration: none;
}

p, h1, ul, li {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "Architects Daughter", cursive, "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600px;
  line-height: 80px;
}

h2 {
  font-family: "Architects Daughter", cursive;
  font-size: 35px;
  font-weight: 600px;
  line-height: 60px;
  margin-left: 80px;
}

h3 {
  font-family: "Architects Daughter", cursive;
  font-size: 30px;
  font-weight: 600px;
  line-height: 60px;
}

.parrafo1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.Contactanos {
  max-width: 800px;
  margin: 50px 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-image: linear-gradient(125deg, #8b4a97, white);
}

.Contactanos .titulocontactanos {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: -webkit-gradient(linear, left top, right top, from(#f4524d), to(#5543ca));
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
}

.contact-form .label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 40px;
  cursor: text;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.form-control {
  font-size: 14px;
  padding: 15px;
  border-radius: 2px;
  height: auto;
}

.btn-primary {
  background-color: #8b4a97;
  border-color: beige;
}

/*REIKI*/
.push-spaces {
  padding: 30px;
}

.imagendefondo {
  background-image: url("../img/almas.gemelas.jpg");
}

/*FOTOS*/
.formatoanteojos {
  width: 400px;
  height: 500px;
  -webkit-animation: animate__fadeInDown;
          animation: animate__fadeInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  padding: 0px 30px;
}

@media (max-width: 575.98px) {
  .footer-menu {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-main {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    color: white;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 100vh;
  }
}
/*# sourceMappingURL=estilos.css.map */