.parrafo1 p{
    font-family:$fuente2;
    font-size: 20px;
  }

  .ptarot {
    font-family:$fuente2;
    font-size: 20px;
    font-weight: bold;
    } 

  .preiki {
      font-family:$fuente2;
      font-size: 20px;
      } 
    
  
.box-shadow{
    box-shadow: 10px 10px 5px $colorfour;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    }

.md-pills .nav-link.active {
      color: #fff;
      background-color: #616161;
    }
button.close {
      position: absolute;
      right: 0;
      z-index: 2;
      padding-right: 1rem;
      padding-top: .6rem;
    }

.cardBox {
      float: left;
      font-size: 1.2em;
      margin: 1% 0 0 1%;
      perspective: 800px;
      transition: all 0.3s ease 0s;
      width: 23.7%;
    }
    
    .cardBox:hover .cardtarot {
      transform: rotateY( 180deg);
    }
    
    .cardtarot {
      cursor: default;
      height: 400px;
      transform-style: preserve-3d;
      transition: transform 0.4s ease 0s;
      width: 95%;
      -webkit-animation: giro 1s 1;
      animation: giro 1s 1;
    }
    
    .cardtarot p {
      margin-bottom: 1.8em;
    }
    
    .cardtarot .front {
      backface-visibility: hidden;
      box-sizing: border-box;
      font-weight: bold;
      display: block;
      height: 100%;
      padding: 0.8em;
      position: absolute;
      text-align: center;
      width: 100%;
      background-color: $colorthird;
      }

    .cardtarot .back {
      backface-visibility: hidden;
      box-sizing: border-box;
      color: white;
      display: block;
      font-size: 1.2em;
      height: 100%;
      padding: 0.8em;
      position: absolute;
      text-align: center;
      width: 100%;
      background-color: $colorthird;
      }
    
    .cardtarot .front strong {
      background: #fff;
      border-radius: 100%;
      color: #222;
      line-height: 30px;
      padding: 0 7px 4px 6px;
    }
    
    .cardtarot .back {
      transform: rotateY( 180deg);
    }
    
    .cardtarot .back a {
      padding: 0.3em 0.5em;
      background: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 1px;
      font-size: 0.9em;
      transition: all 0.2s ease 0s;
    }
    
    .cardtarot .back a:hover {
      background: #fff;
      color: #333;
      text-shadow: 0 0 1px #333;
    }
    
    .cardBox:nth-child(1) .cardtarot.back {
      background-color: $colorthird;
    }
    
    .cardBox:nth-child(2) .cardtarot .back {
      background-color: $colorthird;
    }
    
    .cardBox:nth-child(3) .cardtarot .back {
      background-color: $colorthird;
    }
    
    .cardBox:nth-child(4) .cardtarot .back {
      background-color: $colorthird;
    }
    
    .cardBox:nth-child(2) .cardtarot {
      -webkit-animation: giro 1.5s 1;
      animation: giro 1.5s 1;
    }
    
    .cardBox:nth-child(3) .cardtarot {
      -webkit-animation: giro 2s 1;
      animation: giro 2s 1;
    }
    
    .cardBox:nth-child(4) .cardtarot {
      -webkit-animation: giro 2.5s 1;
      animation: giro 2.5s 1;
    }
    
    @-webkit-keyframes giro {
      from {
        transform: rotateY( 180deg);
      }
      to {
        transform: rotateY( 0deg);
      }
    }
    
    @keyframes giro {
      from {
        transform: rotateY( 180deg);
      }
      to {
        transform: rotateY( 0deg);
      }
    }
    
    @media screen and (max-width: 767px) {
      .cardBox {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
      }
      .cardtarot {
        height: 285px;
      }
      .cardBox:last-child {
        margin-bottom: 3%;
      }
    }
    
    @media screen and (max-width: 480px) {
      .cardBox {
        width: 94.5%;
      }
      .ccardtarot {
        height: 260px;
      }
    }

    .fondopricing{
      background-color: $colorfive;
      
    }

    .fondopricing2{
      background-color: $colorfour;
      
    }