/*COVER*/


  
  #cover-texto{
    width: 100%;
    text-align: center;
  }
  .contenido-seccion{
    text-align: center;
    text-align: center;
   }
  
  .top-margin-sm {margin-top: 30px;}
  .top-margin-lg {margin-top: 60px;}
  
  
  .formatocarrusel{
    transform: scale(0.9, 0.9);
    }
  
  .imagencard{
    animation-name:animate__fadeInDown;
    animation-duration: 4s;
  }