/* define primary fonts */
$fuente: 'Architects Daughter', cursive,'Montserrat', sans-serif;
$fuente1:'Architects Daughter', cursive;
$fuente2:'Montserrat', sans-serif;


.fuentechakras1a {
    text-decoration: none;
    color: red;
    font-weight:bold;
    }

.fuentechakras1 {
text-decoration: none;
color: red;
font-style: italic;
font-weight:bold;
}

.fuentechakras1bis {
    text-decoration: none;
    color: red;
    font-weight:bold;
    size: 2.5 em;
    }

.fuentechakras2a {
            text-decoration: none;
            color:orange;
            font-weight:bold;
            }
        
.fuentechakras2 {
        text-decoration: none;
        color: orange;
        font-style: italic;
        font-weight:bold;
        }
        
.fuentechakras2bis {
            text-decoration: none;
            color: orange;
            font-weight:bold;
            size: 2.5 em;
            }

.fuentechakras3a {
                text-decoration: none;
                color: yellowgreen;
                font-weight:bold;
                }
            
.fuentechakras3 {
            text-decoration: none;
            color: yellowgreen;
            font-style: italic;
            font-weight:bold;
            }
            
.fuentechakras3bis {
                text-decoration: none;
                color: yellowgreen;
                font-weight:bold;
                size: 2.5 em;
                }