/* define primary fonts */
$fuente: 'Architects Daughter', cursive,'Montserrat', sans-serif;
$fuente1:'Architects Daughter', cursive;
$fuente2:'Montserrat', sans-serif;

.fuentereiki{
    text-decoration: $fuente2;

}

.fuentechakras1a {
    text-decoration: none;
    color: red;
    font-weight:bold;
    }

.fuentechakras1 {
text-decoration: none;
color: red;
font-style: italic;
font-weight:bold;
}

.fuentechakras1bis {
    text-decoration: none;
    color: red;
    font-weight:bold;
    size: 2.5 em;
    }

.fuentechakras2a {
            text-decoration: none;
            color:orange;
            font-weight:bold;
            }
        
.fuentechakras2 {
        text-decoration: none;
        color: orange;
        font-style: italic;
        font-weight:bold;
        }
        
.fuentechakras2bis {
            text-decoration: none;
            color: orange;
            font-weight:bold;
            size: 2.5 em;
            }

.fuentechakras3a {
                text-decoration: none;
                color: yellowgreen;
                font-weight:bold;
                }
            
.fuentechakras3 {
            text-decoration: none;
            color: yellowgreen;
            font-style: italic;
            font-weight:bold;
            }
            
.fuentechakras3bis {
                text-decoration: none;
                color: yellowgreen;
                font-weight:bold;
                size: 2.5 em;
                }

.fuentechakras4a {
                    text-decoration: none;
                    color: green;
                    font-weight:bold;
                    }
                
.fuentechakras4 {
                text-decoration: none;
                color: green;
                font-style: italic;
                font-weight:bold;
                }
                
.fuentechakras4bis {
                    text-decoration: none;
                    color: green;
                    font-weight:bold;
                    size: 2.5 em;
                    }      

.fuentechakras5 {
                    text-decoration: none;
                    color:blue;
                    font-style: italic;
                    font-weight:bold;
                    }
                    
.fuentechakras5bis {
                        text-decoration: none;
                        color:blue;
                        font-weight:bold;
                        size: 2.5 em;
                        }
.fuentechakras5a {
                            text-decoration: none;
                            color:blue;
                            font-weight:bold;
                            }

.fuentechakras6 {
                                text-decoration: none;
                                color: blueviolet;
                                font-style: italic;
                                font-weight:bold;
                                }
                                
.fuentechakras6bis {
                                    text-decoration: none;
                                    color: blueviolet;
                                    font-weight:bold;
                                    size: 2.5 em;
                                    }
.fuentechakras6a {
                                        text-decoration: none;
                                        color: blueviolet;
                                        font-weight:bold;
                                        }

                                        .fuentechakras6 {
                                            text-decoration: none;
                                            color: blueviolet;
                                            font-style: italic;
                                            font-weight:bold;
                                            }
                                            
.fuentechakras7bis {
                                                text-decoration: none;
                                                color: violet;
                                                font-weight:bold;
                                                size: 2.5 em;
                                                }
.fuentechakras7a {
                                                    text-decoration: none;
                                                    color: violet;
                                                    font-weight:bold;
                                                    }
.fuentechakras7 {
                                                        text-decoration: none;
                                                        color: violet;
                                                        font-style: italic;
                                                        font-weight:bold;
                                                        }

        .fuentechakras8bis {
                                                            text-decoration: none;
                                                            color: $colorfive;
                                                            font-weight:bold;
                                                            size: 2.5 em;
                                                            }
            .fuentechakras8a {
                                                                text-decoration: none;
                                                                color: $colorfive;
                                                                font-weight:bold;
                                                                }
            .fuentechakras8 {
                                                                    text-decoration: none;
                                                                    color: $colorfive;
                                                                    font-style: italic;
                                                                    font-weight:bold;
                                                                    }