.footer-color{
    background:$colorthird;
}

.font-p{
    color:$colorprimary;
    font-family: $fuente2;
}

h6 {
    color: $colorprimary;
    text-decoration: none;
    a{
    color: $colorprimary;
    &:hover {
        background-color: #ddd;
        color: $colorthird;
        text-decoration: none;
      }

}
}

.icons{
    color: $colorprimary;
    &:hover{
        opacity: 70%;
        text-decoration: none;
    }

}
  
  .footer-copyright{
    background-color:$colorfive;
    text-align: center; 
    padding: 30px;
    color:$colorprimary;
  }