 /*REIKI*/
 .push-spaces { 
    padding: 30px;
  }
  
  .imagendefondo{
  background-image: url("../img/almas.gemelas.jpg");
  }

  
/*FOTOS*/
.formatoanteojos {
    width: 400px;
    height: 500px;
    animation: animate__fadeInDown;
    animation-duration: 2s; 
    padding: 0px 30px;
  }
  