 /* Navbar links */
 .navbar {
    background-color: $colorprimary;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    min-width: 100px;}

.nav-link{
        color:$colorthird;
        text-decoration: solid;
        &:hover {
            background-color: #ddd;
            color:$colorprimary; 
            transition:0.1s;
              } 

           }
      
.dropdown-item {
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        color: $colorthird;
        &:hover{
            background-color: #ddd;
            color:$colorprimary; 
            transition:0.1s;
       }
    }      
       
.logo-brand{
        min-width:50px;
        max-width: 100px;
       }
       .navbar-toggler{font-size:40px;
            &:focus {outline:none;}
        }
  