@media (max-width: 575.98px) { 

    .footer-menu{
      display: block;
    }
}   
    
    @media (min-width: 576px) and (max-width: 767.98px) { 
    
            .footer-main {
            width: 100%;
            display: block;
            padding: 0px;
            margin:0px;
            color: white;
            }
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 100vh;
  }
}

@media only screen and (max-device-width: 1024px) {
  .parallaximg1, .parallaximg2, .parallaximg3, .parallaximg4 {
    background-attachment: scroll;
  }
}