html {
    height: 100%;
    margin: 0;
    padding: 0;;
}

  .parallax {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  #parallaximg1 {
    background-image: url('img/universo.jpg');
    min-height: 750px;

  }
  
  #parallaximg2 {
    background-image: url("/img/Energia.jpg");
    min-height: 400px;
  }
  
  #parallaximg3 {
    background-image: url("/img/Tarot.jpg");
    min-height: 400px;
  }

  #parallaximg4 {
    background-image: url("/img/CARTAS.jpg");
    min-height: 400px;
  }

  #parallaximg5 {
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20%281%29.jpg');
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: $colorthird;
  
        span.border {
            background-color:$colorprimary;
            color:#777;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
  }

        span.intro {
            font-family:$fuente1;
            color: $colorprimary;
            font-weight: bold;
            padding: 18px;
            font-size: 35px;
           }
 

}

            .textintro {
                font-family:$fuente2;
                font-size: 20px;
                color: $colorprimary;
            }  


  .separador1 {
      color: #777;
      background-color:$colorprimary;
      text-align:center;
      padding:50px 80px;
      text-align: center;
  }

  .separador2 {
      color:#777;
      background-color:$colorprimary;
      text-align:center;
      padding:50px 80px;
      text-align: center;
  }

  .separador3 {
        color:#777;
        background-color: $colorprimary;
        text-align:center;
        padding:50px 80px;
        text-align: center;
  }